--
-- PostgreSQL database dump
--

\restrict oSYRbb6TwDElSnJLgsde93aGRCEpKp2UJxmRHaKtQXLgpGlOvUlheb4nGcRfs37

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg12+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.usuario_roles DROP CONSTRAINT IF EXISTS usuario_roles_usuario_id_fkey;
ALTER TABLE IF EXISTS ONLY public.usuario_roles DROP CONSTRAINT IF EXISTS usuario_roles_rol_id_fkey;
ALTER TABLE IF EXISTS ONLY public.usuario_roles DROP CONSTRAINT IF EXISTS usuario_roles_guia_id_fkey;
ALTER TABLE IF EXISTS ONLY public.turnos DROP CONSTRAINT IF EXISTS turnos_usuario_id_fkey;
ALTER TABLE IF EXISTS ONLY public.turnos DROP CONSTRAINT IF EXISTS turnos_turno_original_id_fkey;
ALTER TABLE IF EXISTS ONLY public.turnos DROP CONSTRAINT IF EXISTS turnos_guia_id_fkey;
ALTER TABLE IF EXISTS ONLY public.reprogramaciones DROP CONSTRAINT IF EXISTS reprogramaciones_usuario_id_fkey;
ALTER TABLE IF EXISTS ONLY public.reprogramaciones DROP CONSTRAINT IF EXISTS reprogramaciones_turno_original_id_fkey;
ALTER TABLE IF EXISTS ONLY public.reprogramaciones DROP CONSTRAINT IF EXISTS reprogramaciones_nuevo_turno_id_fkey;
ALTER TABLE IF EXISTS ONLY public.preferencias_usuario DROP CONSTRAINT IF EXISTS preferencias_usuario_usuario_id_fkey;
ALTER TABLE IF EXISTS ONLY public.notas_seguimiento DROP CONSTRAINT IF EXISTS notas_seguimiento_usuario_id_fkey;
ALTER TABLE IF EXISTS ONLY public.notas_seguimiento DROP CONSTRAINT IF EXISTS notas_seguimiento_guia_id_fkey;
ALTER TABLE IF EXISTS ONLY public.mensajes DROP CONSTRAINT IF EXISTS mensajes_turno_id_fkey;
ALTER TABLE IF EXISTS ONLY public.grabaciones DROP CONSTRAINT IF EXISTS grabaciones_turno_id_fkey;
ALTER TABLE IF EXISTS ONLY public.conversaciones DROP CONSTRAINT IF EXISTS conversaciones_usuario_id_fkey;
ALTER TABLE IF EXISTS ONLY public.conversaciones DROP CONSTRAINT IF EXISTS conversaciones_guia_id_fkey;
DROP TRIGGER IF EXISTS update_usuarios_updated_at ON public.usuarios;
DROP TRIGGER IF EXISTS update_guias_updated_at ON public.guias;
DROP INDEX IF EXISTS public.idx_usuarios_email;
DROP INDEX IF EXISTS public.idx_ultima_visto_usuario;
DROP INDEX IF EXISTS public.idx_ultima_visto_guia;
DROP INDEX IF EXISTS public.idx_turnos_fecha;
DROP INDEX IF EXISTS public.idx_preferencias_usuario_usuario_id;
DROP INDEX IF EXISTS public.idx_mensajes_turno;
DROP INDEX IF EXISTS public.idx_mensajes_created_at;
DROP INDEX IF EXISTS public.idx_guias_email;
DROP INDEX IF EXISTS public.idx_grabaciones_turno;
DROP INDEX IF EXISTS public.idx_conversaciones_usuario;
DROP INDEX IF EXISTS public.idx_conversaciones_guia;
DROP INDEX IF EXISTS public.idx_auditoria_fecha;
ALTER TABLE IF EXISTS ONLY public.usuarios DROP CONSTRAINT IF EXISTS usuarios_pkey;
ALTER TABLE IF EXISTS ONLY public.usuarios DROP CONSTRAINT IF EXISTS usuarios_email_key;
ALTER TABLE IF EXISTS ONLY public.ultima_visto_cancelaciones DROP CONSTRAINT IF EXISTS ultima_visto_cancelaciones_usuario_id_guia_id_key;
ALTER TABLE IF EXISTS ONLY public.ultima_visto_cancelaciones DROP CONSTRAINT IF EXISTS ultima_visto_cancelaciones_pkey;
ALTER TABLE IF EXISTS ONLY public.turnos DROP CONSTRAINT IF EXISTS turnos_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_nombre_key;
ALTER TABLE IF EXISTS ONLY public.reprogramaciones DROP CONSTRAINT IF EXISTS reprogramaciones_pkey;
ALTER TABLE IF EXISTS ONLY public.recuperacion_codigos DROP CONSTRAINT IF EXISTS recuperacion_codigos_pkey;
ALTER TABLE IF EXISTS ONLY public.preferencias_usuario DROP CONSTRAINT IF EXISTS preferencias_usuario_pkey;
ALTER TABLE IF EXISTS ONLY public.notas_seguimiento DROP CONSTRAINT IF EXISTS notas_seguimiento_pkey;
ALTER TABLE IF EXISTS ONLY public.mensajes DROP CONSTRAINT IF EXISTS mensajes_pkey;
ALTER TABLE IF EXISTS ONLY public.guias DROP CONSTRAINT IF EXISTS guias_pkey;
ALTER TABLE IF EXISTS ONLY public.guias DROP CONSTRAINT IF EXISTS guias_email_key;
ALTER TABLE IF EXISTS ONLY public.grabaciones DROP CONSTRAINT IF EXISTS grabaciones_pkey;
ALTER TABLE IF EXISTS ONLY public.conversaciones DROP CONSTRAINT IF EXISTS conversaciones_pkey;
ALTER TABLE IF EXISTS ONLY public.auditoria_logs DROP CONSTRAINT IF EXISTS auditoria_logs_pkey;
ALTER TABLE IF EXISTS public.roles ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.usuarios;
DROP TABLE IF EXISTS public.usuario_roles;
DROP TABLE IF EXISTS public.ultima_visto_cancelaciones;
DROP TABLE IF EXISTS public.turnos;
DROP SEQUENCE IF EXISTS public.roles_id_seq;
DROP TABLE IF EXISTS public.roles;
DROP TABLE IF EXISTS public.reprogramaciones;
DROP TABLE IF EXISTS public.recuperacion_codigos;
DROP TABLE IF EXISTS public.preferencias_usuario;
DROP TABLE IF EXISTS public.notas_seguimiento;
DROP TABLE IF EXISTS public.mensajes;
DROP TABLE IF EXISTS public.guias;
DROP TABLE IF EXISTS public.grabaciones;
DROP TABLE IF EXISTS public.conversaciones;
DROP TABLE IF EXISTS public.auditoria_logs;
DROP FUNCTION IF EXISTS public.update_updated_at_column();
DROP EXTENSION IF EXISTS "uuid-ossp";
DROP EXTENSION IF EXISTS pgcrypto;
-- *not* dropping schema, since initdb creates it
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: admin_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO admin_user;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: admin_user
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$


BEGIN


    NEW.updated_at = CURRENT_TIMESTAMP;


    RETURN NEW;


END;


$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO admin_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auditoria_logs; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.auditoria_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    usuario_afectado_id uuid,
    guia_afectado_id uuid,
    accion character varying(100) NOT NULL,
    ip_address inet,
    user_agent text,
    detalles jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.auditoria_logs OWNER TO admin_user;

--
-- Name: conversaciones; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.conversaciones (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    usuario_id uuid,
    guia_id uuid,
    tipo character varying(20) NOT NULL,
    estado character varying(20) DEFAULT 'activa'::character varying,
    nivel_urgencia integer DEFAULT 0,
    calificacion integer,
    feedback text,
    grabacion_url text,
    grabacion_consentimiento boolean DEFAULT false,
    fecha_inicio timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_fin timestamp without time zone,
    notas_privadas text,
    CONSTRAINT conversaciones_calificacion_check CHECK (((calificacion >= 1) AND (calificacion <= 5)))
);


ALTER TABLE public.conversaciones OWNER TO admin_user;

--
-- Name: grabaciones; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.grabaciones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    turno_id uuid NOT NULL,
    solicitado_por uuid NOT NULL,
    estado character varying(20) NOT NULL,
    url_grabacion text,
    fecha_inicio timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_fin timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT grabaciones_estado_check CHECK (((estado)::text = ANY (ARRAY[('solicitado'::character varying)::text, ('aprobado'::character varying)::text, ('rechazado'::character varying)::text, ('activa'::character varying)::text, ('completada'::character varying)::text])))
);


ALTER TABLE public.grabaciones OWNER TO admin_user;

--
-- Name: guias; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.guias (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    nombre character varying(100),
    telefono character varying(20),
    tipo_guia character varying(50),
    especialidades text[],
    disponible boolean DEFAULT false,
    verificado boolean DEFAULT false,
    two_factor_secret character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.guias OWNER TO admin_user;

--
-- Name: mensajes; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.mensajes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    turno_id uuid NOT NULL,
    emisor_id uuid NOT NULL,
    emisor_tipo character varying(20) NOT NULL,
    contenido text NOT NULL,
    leido boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT mensajes_emisor_tipo_check CHECK (((emisor_tipo)::text = ANY (ARRAY[('usuario'::character varying)::text, ('guia'::character varying)::text])))
);


ALTER TABLE public.mensajes OWNER TO admin_user;

--
-- Name: notas_seguimiento; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.notas_seguimiento (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    usuario_id uuid,
    guia_id uuid,
    contenido text NOT NULL,
    hitos text[],
    temas_recurrentes text[],
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notas_seguimiento OWNER TO admin_user;

--
-- Name: preferencias_usuario; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.preferencias_usuario (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id uuid NOT NULL,
    preferencia character varying(20) NOT NULL,
    estado character varying(20) DEFAULT 'pendiente'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT preferencias_usuario_preferencia_check CHECK (((preferencia)::text = ANY (ARRAY[('mismo_guia'::character varying)::text, ('otro_guia'::character varying)::text, ('cambiar_fecha'::character varying)::text])))
);


ALTER TABLE public.preferencias_usuario OWNER TO admin_user;

--
-- Name: recuperacion_codigos; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.recuperacion_codigos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    codigo character varying(6) NOT NULL,
    expira timestamp without time zone NOT NULL,
    usado boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.recuperacion_codigos OWNER TO admin_user;

--
-- Name: reprogramaciones; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.reprogramaciones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    turno_original_id uuid NOT NULL,
    nuevo_turno_id uuid,
    usuario_id uuid NOT NULL,
    preferencia character varying(20),
    fecha_preferida timestamp without time zone,
    comentarios text,
    estado character varying(20) DEFAULT 'pendiente'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT reprogramaciones_estado_check CHECK (((estado)::text = ANY (ARRAY[('pendiente'::character varying)::text, ('completada'::character varying)::text, ('cancelada'::character varying)::text]))),
    CONSTRAINT reprogramaciones_preferencia_check CHECK (((preferencia)::text = ANY (ARRAY[('mismo_guia'::character varying)::text, ('otro_guia'::character varying)::text, ('cambiar_fecha'::character varying)::text])))
);


ALTER TABLE public.reprogramaciones OWNER TO admin_user;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.roles OWNER TO admin_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_user
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO admin_user;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: turnos; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.turnos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    usuario_id uuid,
    guia_id uuid,
    fecha_programada timestamp without time zone NOT NULL,
    duracion_minutos integer DEFAULT 60,
    modalidad character varying(20) DEFAULT 'video'::character varying,
    estado character varying(20) DEFAULT 'pendiente'::character varying,
    recordatorio_24h_enviado boolean DEFAULT false,
    recordatorio_1h_enviado boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    motivo_cancelacion text,
    requiere_asignacion_admin boolean DEFAULT false,
    cancelado_por character varying(50),
    cancelado_en timestamp without time zone,
    es_reprogramacion boolean DEFAULT false,
    turno_original_id uuid,
    hora_inicio timestamp without time zone,
    hora_fin timestamp without time zone,
    duracion_real integer
);


ALTER TABLE public.turnos OWNER TO admin_user;

--
-- Name: COLUMN turnos.cancelado_por; Type: COMMENT; Schema: public; Owner: admin_user
--

COMMENT ON COLUMN public.turnos.cancelado_por IS 'Qui├®n cancel├│: usuario, guia o admin';


--
-- Name: COLUMN turnos.cancelado_en; Type: COMMENT; Schema: public; Owner: admin_user
--

COMMENT ON COLUMN public.turnos.cancelado_en IS 'Fecha y hora de la cancelaci├│n';


--
-- Name: COLUMN turnos.es_reprogramacion; Type: COMMENT; Schema: public; Owner: admin_user
--

COMMENT ON COLUMN public.turnos.es_reprogramacion IS 'Indica si este turno fue creado por una reprogramaci├│n';


--
-- Name: COLUMN turnos.turno_original_id; Type: COMMENT; Schema: public; Owner: admin_user
--

COMMENT ON COLUMN public.turnos.turno_original_id IS 'ID del turno original que fue reprogramado';


--
-- Name: ultima_visto_cancelaciones; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.ultima_visto_cancelaciones (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    usuario_id uuid,
    guia_id uuid,
    ultima_visualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_tipo_usuario CHECK ((((usuario_id IS NOT NULL) AND (guia_id IS NULL)) OR ((usuario_id IS NULL) AND (guia_id IS NOT NULL))))
);


ALTER TABLE public.ultima_visto_cancelaciones OWNER TO admin_user;

--
-- Name: usuario_roles; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.usuario_roles (
    usuario_id uuid,
    guia_id uuid,
    rol_id integer NOT NULL
);


ALTER TABLE public.usuario_roles OWNER TO admin_user;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: admin_user
--

CREATE TABLE public.usuarios (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    nombre character varying(100),
    telefono character varying(20),
    fecha_nacimiento date,
    nivel_urgencia integer DEFAULT 0,
    historia_completa jsonb,
    activo boolean DEFAULT true,
    ultimo_acceso timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    segundo_nombre character varying(50),
    primer_nombre character varying(50),
    primer_apellido character varying(50),
    segundo_apellido character varying(50),
    cedula character varying(20),
    edad integer,
    rh character varying(5),
    sexo character varying(10),
    celular character varying(20),
    peso integer,
    direccion text,
    ciudad character varying(100),
    tipo_adiccion character varying(100),
    observaciones text,
    cto_emerg_nombre character varying(100),
    cto_emerg_celular character varying(20),
    foto_perfil text,
    cto_foto_perfil text,
    datos_completados boolean DEFAULT false,
    rol character varying(20) DEFAULT 'usuario'::character varying,
    es_admin boolean DEFAULT false,
    disponible boolean DEFAULT true,
    altura numeric(5,2),
    cto_emerg_email character varying(100)
);


ALTER TABLE public.usuarios OWNER TO admin_user;

--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Data for Name: auditoria_logs; Type: TABLE DATA; Schema: public; Owner: admin_user
--



--
-- Data for Name: conversaciones; Type: TABLE DATA; Schema: public; Owner: admin_user
--

COPY public.conversaciones (id, usuario_id, guia_id, tipo, estado, nivel_urgencia, calificacion, feedback, grabacion_url, grabacion_consentimiento, fecha_inicio, fecha_fin, notas_privadas) FROM stdin;
\.


--
-- Data for Name: grabaciones; Type: TABLE DATA; Schema: public; Owner: admin_user
--

COPY public.grabaciones (id, turno_id, solicitado_por, estado, url_grabacion, fecha_inicio, fecha_fin, created_at) FROM stdin;
\.


--
-- Data for Name: guias; Type: TABLE DATA; Schema: public; Owner: admin_user
--



--
-- Data for Name: mensajes; Type: TABLE DATA; Schema: public; Owner: admin_user
--

COPY public.mensajes (id, turno_id, emisor_id, emisor_tipo, contenido, leido, created_at) FROM stdin;
\.


--
-- Data for Name: notas_seguimiento; Type: TABLE DATA; Schema: public; Owner: admin_user
--

COPY public.notas_seguimiento (id, usuario_id, guia_id, contenido, hitos, temas_recurrentes, created_at) FROM stdin;
\.


--
-- Data for Name: preferencias_usuario; Type: TABLE DATA; Schema: public; Owner: admin_user
--

COPY public.preferencias_usuario (id, usuario_id, preferencia, estado, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: recuperacion_codigos; Type: TABLE DATA; Schema: public; Owner: admin_user
--



--
-- Data for Name: reprogramaciones; Type: TABLE DATA; Schema: public; Owner: admin_user
--

COPY public.reprogramaciones (id, turno_original_id, nuevo_turno_id, usuario_id, preferencia, fecha_preferida, comentarios, estado, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: admin_user
--

COPY public.roles (id, nombre, descripcion, created_at) FROM stdin;
1	usuario	Persona en proceso de rehabilitaci├│n que busca apoyo	2026-02-24 20:45:19.070704
2	guia	Voluntario o profesional que brinda acompa├▒amiento espiritual	2026-02-24 20:45:19.070704
3	administrador	Personal de la fundaci├│n que gestiona la plataforma	2026-02-24 20:45:19.070704
\.


--
-- Data for Name: turnos; Type: TABLE DATA; Schema: public; Owner: admin_user
--

COPY public.turnos (id, usuario_id, guia_id, fecha_programada, duracion_minutos, modalidad, estado, recordatorio_24h_enviado, recordatorio_1h_enviado, created_at, motivo_cancelacion, requiere_asignacion_admin, cancelado_por, cancelado_en, es_reprogramacion, turno_original_id, hora_inicio, hora_fin, duracion_real) FROM stdin;
43312c5d-8635-48cc-8af7-7e286135974c	fcc2914a-6304-4bcd-974f-fdd792444dae	5691bd14-5d61-49b4-b14d-5b6dde518e3f	2026-07-31 11:10:00	60	chat	aceptado	f	f	2026-07-31 15:53:41.766817	\N	f	\N	\N	f	\N	\N	\N	\N
\.


--
-- Data for Name: ultima_visto_cancelaciones; Type: TABLE DATA; Schema: public; Owner: admin_user
--



--
-- Data for Name: usuario_roles; Type: TABLE DATA; Schema: public; Owner: admin_user
--

COPY public.usuario_roles (usuario_id, guia_id, rol_id) FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: admin_user
--



--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin_user
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: auditoria_logs auditoria_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.auditoria_logs
    ADD CONSTRAINT auditoria_logs_pkey PRIMARY KEY (id);


--
-- Name: conversaciones conversaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.conversaciones
    ADD CONSTRAINT conversaciones_pkey PRIMARY KEY (id);


--
-- Name: grabaciones grabaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.grabaciones
    ADD CONSTRAINT grabaciones_pkey PRIMARY KEY (id);


--
-- Name: guias guias_email_key; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.guias
    ADD CONSTRAINT guias_email_key UNIQUE (email);


--
-- Name: guias guias_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.guias
    ADD CONSTRAINT guias_pkey PRIMARY KEY (id);


--
-- Name: mensajes mensajes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.mensajes
    ADD CONSTRAINT mensajes_pkey PRIMARY KEY (id);


--
-- Name: notas_seguimiento notas_seguimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.notas_seguimiento
    ADD CONSTRAINT notas_seguimiento_pkey PRIMARY KEY (id);


--
-- Name: preferencias_usuario preferencias_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.preferencias_usuario
    ADD CONSTRAINT preferencias_usuario_pkey PRIMARY KEY (id);


--
-- Name: recuperacion_codigos recuperacion_codigos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.recuperacion_codigos
    ADD CONSTRAINT recuperacion_codigos_pkey PRIMARY KEY (id);


--
-- Name: reprogramaciones reprogramaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.reprogramaciones
    ADD CONSTRAINT reprogramaciones_pkey PRIMARY KEY (id);


--
-- Name: roles roles_nombre_key; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_nombre_key UNIQUE (nombre);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: turnos turnos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT turnos_pkey PRIMARY KEY (id);


--
-- Name: ultima_visto_cancelaciones ultima_visto_cancelaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.ultima_visto_cancelaciones
    ADD CONSTRAINT ultima_visto_cancelaciones_pkey PRIMARY KEY (id);


--
-- Name: ultima_visto_cancelaciones ultima_visto_cancelaciones_usuario_id_guia_id_key; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.ultima_visto_cancelaciones
    ADD CONSTRAINT ultima_visto_cancelaciones_usuario_id_guia_id_key UNIQUE (usuario_id, guia_id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: idx_auditoria_fecha; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_auditoria_fecha ON public.auditoria_logs USING btree (created_at);


--
-- Name: idx_conversaciones_guia; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_conversaciones_guia ON public.conversaciones USING btree (guia_id);


--
-- Name: idx_conversaciones_usuario; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_conversaciones_usuario ON public.conversaciones USING btree (usuario_id);


--
-- Name: idx_grabaciones_turno; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_grabaciones_turno ON public.grabaciones USING btree (turno_id);


--
-- Name: idx_guias_email; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_guias_email ON public.guias USING btree (email);


--
-- Name: idx_mensajes_created_at; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_mensajes_created_at ON public.mensajes USING btree (created_at);


--
-- Name: idx_mensajes_turno; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_mensajes_turno ON public.mensajes USING btree (turno_id);


--
-- Name: idx_preferencias_usuario_usuario_id; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_preferencias_usuario_usuario_id ON public.preferencias_usuario USING btree (usuario_id);


--
-- Name: idx_turnos_fecha; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_turnos_fecha ON public.turnos USING btree (fecha_programada);


--
-- Name: idx_ultima_visto_guia; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_ultima_visto_guia ON public.ultima_visto_cancelaciones USING btree (guia_id);


--
-- Name: idx_ultima_visto_usuario; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_ultima_visto_usuario ON public.ultima_visto_cancelaciones USING btree (usuario_id);


--
-- Name: idx_usuarios_email; Type: INDEX; Schema: public; Owner: admin_user
--

CREATE INDEX idx_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: guias update_guias_updated_at; Type: TRIGGER; Schema: public; Owner: admin_user
--

CREATE TRIGGER update_guias_updated_at BEFORE UPDATE ON public.guias FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: usuarios update_usuarios_updated_at; Type: TRIGGER; Schema: public; Owner: admin_user
--

CREATE TRIGGER update_usuarios_updated_at BEFORE UPDATE ON public.usuarios FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: conversaciones conversaciones_guia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.conversaciones
    ADD CONSTRAINT conversaciones_guia_id_fkey FOREIGN KEY (guia_id) REFERENCES public.guias(id) ON DELETE SET NULL;


--
-- Name: conversaciones conversaciones_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.conversaciones
    ADD CONSTRAINT conversaciones_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE SET NULL;


--
-- Name: grabaciones grabaciones_turno_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.grabaciones
    ADD CONSTRAINT grabaciones_turno_id_fkey FOREIGN KEY (turno_id) REFERENCES public.turnos(id) ON DELETE CASCADE;


--
-- Name: mensajes mensajes_turno_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.mensajes
    ADD CONSTRAINT mensajes_turno_id_fkey FOREIGN KEY (turno_id) REFERENCES public.turnos(id) ON DELETE CASCADE;


--
-- Name: notas_seguimiento notas_seguimiento_guia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.notas_seguimiento
    ADD CONSTRAINT notas_seguimiento_guia_id_fkey FOREIGN KEY (guia_id) REFERENCES public.guias(id) ON DELETE CASCADE;


--
-- Name: notas_seguimiento notas_seguimiento_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.notas_seguimiento
    ADD CONSTRAINT notas_seguimiento_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: preferencias_usuario preferencias_usuario_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.preferencias_usuario
    ADD CONSTRAINT preferencias_usuario_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: reprogramaciones reprogramaciones_nuevo_turno_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.reprogramaciones
    ADD CONSTRAINT reprogramaciones_nuevo_turno_id_fkey FOREIGN KEY (nuevo_turno_id) REFERENCES public.turnos(id) ON DELETE SET NULL;


--
-- Name: reprogramaciones reprogramaciones_turno_original_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.reprogramaciones
    ADD CONSTRAINT reprogramaciones_turno_original_id_fkey FOREIGN KEY (turno_original_id) REFERENCES public.turnos(id) ON DELETE CASCADE;


--
-- Name: reprogramaciones reprogramaciones_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.reprogramaciones
    ADD CONSTRAINT reprogramaciones_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: turnos turnos_guia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT turnos_guia_id_fkey FOREIGN KEY (guia_id) REFERENCES public.usuarios(id) ON DELETE SET NULL;


--
-- Name: turnos turnos_turno_original_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT turnos_turno_original_id_fkey FOREIGN KEY (turno_original_id) REFERENCES public.turnos(id);


--
-- Name: turnos turnos_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT turnos_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: usuario_roles usuario_roles_guia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.usuario_roles
    ADD CONSTRAINT usuario_roles_guia_id_fkey FOREIGN KEY (guia_id) REFERENCES public.guias(id) ON DELETE CASCADE;


--
-- Name: usuario_roles usuario_roles_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.usuario_roles
    ADD CONSTRAINT usuario_roles_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles(id);


--
-- Name: usuario_roles usuario_roles_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_user
--

ALTER TABLE ONLY public.usuario_roles
    ADD CONSTRAINT usuario_roles_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: FUNCTION armor(bytea); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.armor(bytea) TO admin_user;


--
-- Name: FUNCTION armor(bytea, text[], text[]); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.armor(bytea, text[], text[]) TO admin_user;


--
-- Name: FUNCTION crypt(text, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.crypt(text, text) TO admin_user;


--
-- Name: FUNCTION dearmor(text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.dearmor(text) TO admin_user;


--
-- Name: FUNCTION decrypt(bytea, bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.decrypt(bytea, bytea, text) TO admin_user;


--
-- Name: FUNCTION decrypt_iv(bytea, bytea, bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.decrypt_iv(bytea, bytea, bytea, text) TO admin_user;


--
-- Name: FUNCTION digest(bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.digest(bytea, text) TO admin_user;


--
-- Name: FUNCTION digest(text, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.digest(text, text) TO admin_user;


--
-- Name: FUNCTION encrypt(bytea, bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.encrypt(bytea, bytea, text) TO admin_user;


--
-- Name: FUNCTION encrypt_iv(bytea, bytea, bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.encrypt_iv(bytea, bytea, bytea, text) TO admin_user;


--
-- Name: FUNCTION fips_mode(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.fips_mode() TO admin_user;


--
-- Name: FUNCTION gen_random_bytes(integer); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.gen_random_bytes(integer) TO admin_user;


--
-- Name: FUNCTION gen_random_uuid(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.gen_random_uuid() TO admin_user;


--
-- Name: FUNCTION gen_salt(text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.gen_salt(text) TO admin_user;


--
-- Name: FUNCTION gen_salt(text, integer); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.gen_salt(text, integer) TO admin_user;


--
-- Name: FUNCTION hmac(bytea, bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.hmac(bytea, bytea, text) TO admin_user;


--
-- Name: FUNCTION hmac(text, text, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.hmac(text, text, text) TO admin_user;


--
-- Name: FUNCTION pgp_armor_headers(text, OUT key text, OUT value text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_armor_headers(text, OUT key text, OUT value text) TO admin_user;


--
-- Name: FUNCTION pgp_key_id(bytea); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_key_id(bytea) TO admin_user;


--
-- Name: FUNCTION pgp_pub_decrypt(bytea, bytea); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_pub_decrypt(bytea, bytea) TO admin_user;


--
-- Name: FUNCTION pgp_pub_decrypt(bytea, bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_pub_decrypt(bytea, bytea, text) TO admin_user;


--
-- Name: FUNCTION pgp_pub_decrypt(bytea, bytea, text, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_pub_decrypt(bytea, bytea, text, text) TO admin_user;


--
-- Name: FUNCTION pgp_pub_decrypt_bytea(bytea, bytea); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_pub_decrypt_bytea(bytea, bytea) TO admin_user;


--
-- Name: FUNCTION pgp_pub_decrypt_bytea(bytea, bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_pub_decrypt_bytea(bytea, bytea, text) TO admin_user;


--
-- Name: FUNCTION pgp_pub_decrypt_bytea(bytea, bytea, text, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_pub_decrypt_bytea(bytea, bytea, text, text) TO admin_user;


--
-- Name: FUNCTION pgp_pub_encrypt(text, bytea); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_pub_encrypt(text, bytea) TO admin_user;


--
-- Name: FUNCTION pgp_pub_encrypt(text, bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_pub_encrypt(text, bytea, text) TO admin_user;


--
-- Name: FUNCTION pgp_pub_encrypt_bytea(bytea, bytea); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_pub_encrypt_bytea(bytea, bytea) TO admin_user;


--
-- Name: FUNCTION pgp_pub_encrypt_bytea(bytea, bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_pub_encrypt_bytea(bytea, bytea, text) TO admin_user;


--
-- Name: FUNCTION pgp_sym_decrypt(bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_sym_decrypt(bytea, text) TO admin_user;


--
-- Name: FUNCTION pgp_sym_decrypt(bytea, text, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_sym_decrypt(bytea, text, text) TO admin_user;


--
-- Name: FUNCTION pgp_sym_decrypt_bytea(bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_sym_decrypt_bytea(bytea, text) TO admin_user;


--
-- Name: FUNCTION pgp_sym_decrypt_bytea(bytea, text, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_sym_decrypt_bytea(bytea, text, text) TO admin_user;


--
-- Name: FUNCTION pgp_sym_encrypt(text, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_sym_encrypt(text, text) TO admin_user;


--
-- Name: FUNCTION pgp_sym_encrypt(text, text, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_sym_encrypt(text, text, text) TO admin_user;


--
-- Name: FUNCTION pgp_sym_encrypt_bytea(bytea, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_sym_encrypt_bytea(bytea, text) TO admin_user;


--
-- Name: FUNCTION pgp_sym_encrypt_bytea(bytea, text, text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.pgp_sym_encrypt_bytea(bytea, text, text) TO admin_user;


--
-- Name: FUNCTION uuid_generate_v1(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.uuid_generate_v1() TO admin_user;


--
-- Name: FUNCTION uuid_generate_v1mc(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.uuid_generate_v1mc() TO admin_user;


--
-- Name: FUNCTION uuid_generate_v3(namespace uuid, name text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.uuid_generate_v3(namespace uuid, name text) TO admin_user;


--
-- Name: FUNCTION uuid_generate_v4(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.uuid_generate_v4() TO admin_user;


--
-- Name: FUNCTION uuid_generate_v5(namespace uuid, name text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.uuid_generate_v5(namespace uuid, name text) TO admin_user;


--
-- Name: FUNCTION uuid_nil(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.uuid_nil() TO admin_user;


--
-- Name: FUNCTION uuid_ns_dns(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.uuid_ns_dns() TO admin_user;


--
-- Name: FUNCTION uuid_ns_oid(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.uuid_ns_oid() TO admin_user;


--
-- Name: FUNCTION uuid_ns_url(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.uuid_ns_url() TO admin_user;


--
-- Name: FUNCTION uuid_ns_x500(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.uuid_ns_x500() TO admin_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO admin_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO admin_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO admin_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO admin_user;


--
-- PostgreSQL database dump complete
--

\unrestrict oSYRbb6TwDElSnJLgsde93aGRCEpKp2UJxmRHaKtQXLgpGlOvUlheb4nGcRfs37

